// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//     'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #424242;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #009688;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // Путь к изображениям из SASS-файла всегда такой, как из папки css
//   background-image: url('../images/demo.jpg');
//   background-size: cover;
//   background-position: center;
// }

// header {
//   width: 100%;
//   height: 150px;

//   padding-top: 50px;

//   text-align: center;

//   background-color: #837979;
// }

// main {
//   height: 2000px;
//   padding-top: 60px;
// }

// ul,
// ol {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

span {
  margin: 0;
  padding: 0;
}

// .container {
//   width: 882px;

//   margin: 0 auto;
// }

.gallery-trending {
  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
  }

  // &__item {
  //   margin-top: 30px;
  //   margin-left: 30px;
  // }
}

.card-thumb {
  margin-top: 30px;
  margin-left: 30px;

  width: 274px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__img {
    width: 274px;
    height: 398px;

    background-color: gray;
  }

  &__title,
  &__info {
    display: inline-block;
    margin-top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__info {
    font-weight: 500;
    color: #ff6b08;
  }

  // animation: append 2s linear 3s;

  // animation-delay: 500ms;
  animation-duration: 1000ms;
  animation-name: append;

  // animation: name duration timing-function delay iteration-count direction fill-mode;
}

// animation: append 5s linear;
@keyframes append {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
