//Colors

//------Main-----

$accent-color: #ff6b08;
$warning-color: #ff001b;
$btn-accent-color: #ff6b01;
$white-color: #ffffff;

// -------Header------

$header-background-color: rgba(0, 0, 0, 0.56);
