<button class='pagination__arrow'>
  <svg class='pagination__arrow-logo' width='16px' height='16px'>
    <use href='./images/sprite.svg#arrow-left'></use>
  </svg>
</button>
<button class='pagination__number active'>1</button>
<button class='pagination__number'>2</button>
<button class='pagination__number'>3</button>
<div class='dots'></div>
<button class='pagination__number'>{{totalPages}}</button>
<button class='pagination__arrow'>
  <svg class='pagination__arrow-logo' width='16px' height='16px'>
    <use href='./images/sprite.svg#arrow-right'></use>
  </svg>
</button>

<button class='pagination__arrow'>
  <svg class='pagination__arrow-logo' width='16px' height='16px'>
    <use href='./images/sprite.svg#arrow-left'></use>
  </svg>
</button>
<button class='pagination__number'>1</button>
<button class='pagination__number active'>2</button>
<button class='pagination__number'>3</button>
<div class='dots'></div>
<button class='pagination__number'>{{totalPages}}</button>
<button class='pagination__arrow'>
  <svg class='pagination__arrow-logo' width='16px' height='16px'>
    <use href='./images/sprite.svg#arrow-right'></use>
  </svg>
</button>